body {
	/* See piazza @7 private post*/
    max-width: 40em;
    padding: 0.62em;
    font: 1.2em/1.62em sans-serif;
}

canvas {
  /*
  width: 25em;
  height:30em;
  */
  border:0.6em solid #000000;
  width: 400px;
  height: 550px
}
.resources {
  visibility: hidden; 
}