html {
  /*background: url("resources/Background1.jpg") center fixed no-repeat; */
  background: url("resources/Background2.jpg") center fixed no-repeat;
  background-size: cover;
}

body {
	 /* See piazza @7 private post*/
    max-width: 40em;
    padding: 0.62em;
    font: 1.2em/1.62em sans-serif;
    color: red;
}

canvas {
  /*
  width: 25em;
  height:30em;
  */
  border:0.6em solid #000000;
  width: 600px;
  height: 700px;
}

.resources {
  visibility: hidden; 
}
